.user-data-container{
    background-color: #fff9d5f5;
    height: 100vh;
}
.mat-table {
    overflow: auto;
    max-height: 500px;
    width: 100%;
}

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

th.mat-sort-header-sorted {
    color: black;
}
  
::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}
